<% unless current_user.is_lawyer%>
  <body class="image-profil">
    <button type="button" class="btn btn-danger" style=" height : 50px; margin-top : 150px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Mes rendez-vous
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mes rendez-vous</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
          </div>
          <div class="modal-body">
            <% @current_appointments.each do |appointment|%>
              Rendez-vous prévu le <%= appointment.start_date.day %> <%= Date::MONTHNAMES[appointment.start_date.month] %> à <%= appointment.start_date.hour %>h , avec le cabinet <%= Firm.find(appointment.firm_id).name %> 
              <%= link_to "Annuler" , firm_appointment_path(appointment.firm_id, appointment.id), method: :put, class: "btn btn-sm btn-outline-danger text-dark" %><br>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm6 btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
<% end %>
<% if current_user.is_lawyer %>
  <div class="row lawyer-profile container text-dark">
    <div class="col-lg-7 col-sm-12">
        <h1>Mes rendez-vous</h1>
        <% @current_appointments.each do |appointment| %>
          Rendez-vous prévu le <%= appointment.start_date.day %> <%= Date::MONTHNAMES[appointment.start_date.month] %> à <%= appointment.start_date.hour %>h
          <p><% if appointment.is_confirmed %>Confirmé<% else %>Disponible<% end %></p>
          <%= link_to "Annuler" , firm_appointment_path(appointment.id), method: :delete, class: "btn btn-sm6 btn-danger"%>
        <% end %>
    </div>
    <div class="col-lg-5 col-sm-12">
      <h2>Ajouter une disponibilité</h2><br><br>
      <%= form_with url: firm_appointments_path(current_user.firm_id), method: :post do |form| %>
        <%= form.date_field :date, class: "form-control" %><br>
        <%= form.time_field :time, :format=>"%H:%M", class: "form-control" %><br>
        <%= form.submit "Ajouter un rendez-vous", class: "btn btn-sm6 btn-danger" %><br>
      <% end %>
    </div>
  </div>
<% end %>

